* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#search {
    padding-top: 5%;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#card {
    border: 1px solid black;
    border-radius: 30px;
    width: 500px;
    height: 600px;
    position: relative;
    top: 100px;
    margin: auto;
}

#name, #username {
    display: table;
    margin: 5px;
    font-size: 30px;
    margin: auto;
    position: relative;
    top: 100px;
}

#search label {
    display: table;
    margin: 15px;
    position: relative;
    right: 15px;
    font-size: 30px
}

input {
    border: 1px solid black;
    border-radius: 10px;
    float: left;
    font-size: 30px;
}

button {
    border-radius: 8px;
    position: relative;
    top: 3px;
    left: 10px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: black;
    color: white;
}

img {
    vertical-align: middle;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    position: relative;
    top: 60px;
}